<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ES6 + SystemJS + Backbone = ❤</title>
</head>

<body>

<!-- container element -->
<div id="testView"></div>

<!-- container element -->
<div id="testView2">
    <div class="jelect"></div>
</div>

<!-- hello template for TestView -->
<script type="text/template" id="tplHello">
    <%= helloMessage %>
    <div class="jelect"></div>
</script>

<!-- mandatorary for SystemJS + ES6 -->
<script src="js/traceur-runtime.js"></script>
<script src="js/system.js"></script>
<!-- builded and bundled javascript -->
<script src="build/app-bundle.js"></script>

<!-- Global module config -->
<script>
    System.config({
        //baseURL: 'app',
        bundles: {'js/app/constants': ['constants']},
        paths: {
            //constants: 'js/app/constants.js'
        },
        map: {
            underscore: 'lib/underscore'
        }
    });
</script>

<!-- Inline modularised view usage example -->
<!--<script src="js/app/constants.js"></script>-->
<script>

    System.import('views/testview').then(function(m) {

        var testView = new m.TestView({
            el: '#testView',
            tpl: {
                hello: '#tplHello'
            },
            l11n: {
                helloMessage: 'Hello World !'
            }
        }).render();

    }, console.error.bind(console));
    // Example below loads two modules in parallel
    Promise.all([
        System.import('views/testview'),
        System.import('views/testview2')
    ]).then(function(modules) {

        var testView2 = new modules[1].TestView2({
            el: '#testView2'
        }).render();

    }, console.error.bind(console));
    // Example for module registred dynamically with register function
    // it can be pluged statically with script tag or as bundle
    System.import('constants').then(function(m) {

        console.log(m.constants);

    }, console.error.bind(console));

</script>

</body>
</html>